
[logger_root]
handlers=root
level=WARNING

[handler_root]
class=StreamHandler
level=WARNING
args=(sys.stdout,)

[handler_stdout]
class=StreamHandler
args=(sys.stdout,)
#formatter=timed

[formatter_timed]
format=%(asctime)s - %(message)s

[formatter_debug]
format=%(name)s %(levelname)s - %(message)s

# ====== The following are enabled by default ======
# ======= Section for gui log ======
[logger_gui log]
handlers=gui log
qualname=gui log
level=INFO

[handler_gui log]
class=FileHandler
#formatter=timed
#args=(os.devnull, 'a')
args=('gui_log.sample', 'a')

# ======= Section for storytext replay log ======
[logger_storytext replay log]
handlers=gui log
qualname=storytext replay log
level=INFO

# ====== The following are disabled by default ======
# ======= Section for Eclipse RCP jobs ======
[logger_Eclipse RCP jobs]
handlers=Eclipse RCP jobs
qualname=Eclipse RCP jobs
#level=INFO

[handler_Eclipse RCP jobs]
class=FileHandler
formatter=debug
args=(os.devnull, 'a')
#args=('eclipsercpjobs.sample', 'a')

# ======= Section for widget structure ======
[logger_widget structure]
handlers=widget structure
qualname=widget structure
#level=INFO

[handler_widget structure]
class=FileHandler
formatter=debug
args=(os.devnull, 'a')
#args=('widgetstructure.sample', 'a')

# ======= Section for TreeModelIndexer ======
[logger_TreeModelIndexer]
handlers=TreeModelIndexer
qualname=TreeModelIndexer
#level=INFO

[handler_TreeModelIndexer]
class=FileHandler
formatter=debug
args=(os.devnull, 'a')
#args=('treemodelindexer.sample', 'a')

# ======= Section for TreeViewDescriber ======
[logger_TreeViewDescriber]
handlers=TreeViewDescriber
qualname=TreeViewDescriber
#level=INFO

[handler_TreeViewDescriber]
class=FileHandler
formatter=debug
args=(os.devnull, 'a')
#args=('treeviewdescriber.sample', 'a')

# ======= Section for gui map ======
[logger_gui map]
handlers=gui map
qualname=gui map
#level=INFO

[handler_gui map]
class=FileHandler
formatter=debug
args=(os.devnull, 'a')
#args=('guimap.sample', 'a')

# ======= Section for storytext record ======
[logger_storytext record]
handlers=storytext record
qualname=storytext record
#level=INFO

[handler_storytext record]
class=FileHandler
formatter=debug
args=(os.devnull, 'a')
#args=('storytextrecord.sample', 'a')

# ====== Cruft that python logging module needs ======
[loggers]
keys=root,gui log,storytext replay log,Eclipse RCP jobs,widget structure,TreeModelIndexer,TreeViewDescriber,gui map,storytext record

[handlers]
keys=root,Eclipse RCP jobs,widget structure,TreeModelIndexer,TreeViewDescriber,gui log,gui map,stdout,storytext record

[formatters]
keys=timed,debug

